.feynman__link {
    position: absolute;
    top: 50%;
    color: #2f80ed;
    right: 48px;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.4s;
    margin: 0;
    padding: 0;
}

.feynman__link:hover {
    opacity: 0.4;
}
