.section-title_theme_dark {
    width: 60%;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    color: white;
    z-index: 2;
}
