.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  border:solid red 1px;
  display: flex;
  position: relative;
  min-height: 600px;
  height: 100vh;
  max-height: 756px;
  overflow: hidden;
  background-color: #f2f2f2;
}
.logo__place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  display: flex;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  align-items: center;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  z-index: 2;
  bottom: 0;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  z-index: 0;
  background-color:#2f80ed;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
