.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  min-height: 600px;
  height: 100vh;
  max-height: 756px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.logo__place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  display: flex;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  align-items: center;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color:#2f80ed;
  text-decoration:none;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  z-index: 2;
  bottom: 0;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  z-index: 0;
  background-color:#2f80ed;
}

.description {
  margin-top:100px;
  margin-bottom:100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 754px;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  margin-top: 0;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 754px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-top: 0;
  min-height: 30px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  padding-bottom: 100px;
  position: relative;
}

.section-title {
  width: 60%;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: calc(100px / 3)
}

.table__cell:nth-child(4n) {
  margin-right: 0;
}

.table__heading {
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  padding-top: 100px;
  text-align: center;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: auto;
  margin-top:70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  height: 445px;
  color: #2f80ed;
  right: 45px;
  text-decoration:none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  background-color: #1f1f1f;
}
.section-title_theme_dark {
  width: 60%;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  width: 60%;
  text-align: center;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 10px;
  margin-top: 80px;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: 0;
}
